#twitter-widget-0{
   width: 100% !important;  
   height: auto;
   min-height: 250px;

}
.flexslider{
	margin: 0;
	margin-bottom: 2%;
}
.flex-control-nav{
	display: none;
}
.downloads{
	background: red;
	width: 100%;
}
#fb-root {
    display: none;
    min-height: 250px;
}

/* To fill the container and nothing else */

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
    min-height: 350px;
}
@media(min-width: 980px) and (max-width: 1200px){
    /*.titleBanner{
      background: pink;
    }*/
    .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
      min-height: 0;
    }
    .domingo{
      display: inline-block;
      /*font-size: 1.3em;*/
      /*margin-right: 1%;*/
      width: 30%;
      /*background: red;*/
    }
    #domingo{
      display: block;
      margin: 0 auto;
      width: 50%;
      /*background: red;*/
      text-align: center;
    }
    .culto,.cultoInfo{
      display: inline-block;
      width: 30%;
      margin-left: 1%;
      /*background: red;*/
      vertical-align: top;
    }

    .culto h4,#titleDomingo{
      font-size: 2em;
    }
    .cultoInfo{
      width: 45%;
      font-size: 1.1em;
    }
}
@media(min-width: 768px) and (max-width: 979px){
    .domingo{
      /*background: red;*/
    }
    .titleBanner{
      /*background: pink;*/
    }
    .map,.diaCulto{
      width: 90% !important;
      margin: 0 auto !important;
      /*background: pink;*/
      /*background: blue ;*/
      display: block !important;
    }
    .contentMap{
      width: 90%;
      margin: 0 auto;
      display: block;
    }
    #domingo{
      text-align: center;
    }
    .leftBody{
      /*background: yellow;*/
      width: 99% !important;
    }
    .rightBody{
     width: 99% !important;  
    }

}
@media (min-width: 480px) and (max-width: 767px){
  .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    min-height: 0;
    /*background: red;*/
  } 
  #domingo{
    /*width: 90%;*/
    /*background: pink;*/
    text-align: center;
    display: inline-block;
  }
  .domingo{
    display: inline-block !important;
    width: 30% !important;
    margin: 1%;
    /*vertical-align: top;*/
    /*background: yellow;*/
  }
  .culto{
    width: 100%;
    /*background: pink;*/
    text-align: center;
  }
  .cultoInfo{
    display: inline-block !important;
    /*background: yellow;*/
    width: auto !important;
  }
}
@media (min-width: 300px) and (max-width: 479px){
  .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    min-height: 0;
    /*background: red;*/
  }
  #domingo{
    /*width: 90%;*/
    /*background: pink;*/
    text-align: center;
    display: inline-block;
  }
  .domingo{
    display: inline-block !important;
    width: 30% !important;
    margin: 1%;
    /*vertical-align: top;*/
    /*background: yellow;*/
  }
  .culto{
    width: 100%;
    /*background: pink;*/
    text-align: center;
  }
  .cultoInfo{
    display: inline-block !important;
    /*background: yellow;*/
    width: auto !important;
  }
}
@media (min-width: 200px) and (max-width: 299px){
  .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    min-height: 0;
    /*background: pink;*/
  }
  #domingo{
    /*width: 90%;*/
    /*background: pink;*/
    text-align: center;
    /*display: inline-block;*/
  }
  .domingo{
    display: inline-block !important;
    width: 48% !important;
    margin: 1%;
    /*vertical-align: top;*/
    /*background: yellow;*/
  }
  .culto{
    width: 100%;
    /*background: pink;*/
    text-align: center;
  }
  .cultoInfo{
    display: inline-block !important;
    /*background: yellow;*/
    width: auto !important;
  }
  .estamosUbicado{
    /*background: red;*/
    text-align: justify;
  }
  .titleText{
    font-size: 1.5em;
  }
  .subtextTitle{
    font-size: 1.2em;
  }
  .titleLogo{
    width: 40%;
  }
  .textBanner img {
    width: 15%;
  }
}
@media (min-width: 0px) and (max-width: 199px){
  .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    background: red;
  }
  .estamosUbicado{
    font-size: 1em;
  }
}
