<div class="row-fluid titleBanner">
		<!-- id="group-listenMusicBanner" -->
	  <div class="span3" id="spaceLogo" >
	  	<!-- style="background:yellow;" -->
	  	<div class="row-fluid"  >
	  		<img src="site_media/img/logo2.png" class="img-responsive titleLogo" > 
	  	</div> 
	  </div>
	  <!-- id="group-listenMusicBanner" -->
	  <div class="span6 textBanner" id="textBanner">
	  	<div class="row-fluid">
	  		<div class="span12">
	  			<h1 class="text-center titleText">
			  		Tabernáculo Bíblico 
					Bautista
				</h1>		
	  		</div>
	  	</div>
	  	<div class="row-fluid">
	  		<div class="span12">
	  			<h2 class="text-center titleText subtextTitle">
		  			ciudad credisa
		  		</h2>
	  		</div>
	  	</div>
	  	<div class="row-fluid" id="group-listenMusicBanner">
	  		<div class="span4 text-center" id="listenMusicBanner">
	  			<div class="row-fluid">
	  				<img src="site_media/img/radio.png" class="socialmedia">		
	  			</div>
	  			<div class="row-fluid text-justify" >
	  				<span class="descriptionMedia">
	  					Escucha nuestra radio en linea	
	  				</span>
	  			</div>
	  		</div>
	  		<div class="span4" id="listenMusicBanner">
	  			<div class="row-fluid text-center" >
	  				<div class="row" id="hiddenInutil">
	  					&nbsp
	  				</div>
	  				<div class="row-fluid" id="encuentraContenido">
		  				Encuentra el contenido que buscas
		  			</div>
	  				<div class="row-fluid" id="searchForm">
	  					<input type="text" class="form-control" placeholder="Search" style="width:75%;display:inline-block;margin-bottom:3%;">
	  					<button type="submit" class="btn btn-default" style="width:20%;display:inline-block;margin-bottom:3%;">
	  						<i class="glyphicon glyphicon-search"></i>
	  					</button>
		  			</div>
	  			</div>
	  		</div>
	  		<div class="span4 text-center" id="listenMusicBanner">
	  			<div class="row-fluid">
	  				<img src="site_media/img/tv.png" class="socialmedia">		
	  			</div>
	  			<div class="row-fluid">
	  				Sintoniza nuestra tv en linea
	  			</div>
	  		</div>
	  	</div>
	  </div>
	  <!-- id="group-listenMusicBanner" -->
	  <div class="span3" id="contact">
	  	<div class="row-fluid text-center contactTitleBanner" id="contact-group">
	  		<h3>Contactanos</h3>
	  	</div>
	  	<div class="row-fluid text-center contactTitleBanner" id="contact-group">
	  		<h4>Email: info@tabernaculocredisa.com</h4>
	  	</div>
	  	<div class="row-fluid socialnetwork text-center">
	  		<div class="span12">
	  			<a href="https://www.facebook.com/TabernaculoCiudadCredisaOficial" target="_blank" title="Facebook">
					<img src="site_media/img/socialnetwork/fblogo2.png" class="socialmedia" alt="Facebook logo flat">
				</a>
				<a href="https://twitter.com/tabercredisa/" target="_blank" title="Twitter">
					<img src="site_media/img/socialnetwork/twitterlogo2.png" class="socialmedia" alt="Twiter logo flat">
				</a>
				<a href="http://www.youtube.com/user/tbbcredisa" target="_blank" title="Youtube">
					<img src="site_media/img/socialnetwork/youtube.png" class="socialmedia" alt="Youtube logo flat">
				</a>
				<a href="#" title="RSS">
					<img src="site_media/img/socialnetwork/RSS.png" class="socialmedia" alt="RSS logo flat">
				</a>
				<a href="http://tbbciudadcredisa.blogspot.com" title="Blogger">
					<img src="site_media/img/socialnetwork/blogger.png" class="socialmedia" alt="blogger logo flat">
				</a>	
	  		</div>
	  		
	  	</div>
	  	<div class="row-fluid text-center chancheLang">
  			<form role="form">
	  			<div class="form-group">
	  				<select class="form-control">
	  					<option>Español</option>
	  					<option>Ingles</option>
	  				</select>	
	  			</div>
	  		</form>
	  	</div>
	  </div>
	</div>